<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.user.service.mapper.LogMapper">
    <resultMap type="com.github.user.service.entity.Log" id="log">
        <id column="log_id" property="logId"/>
        <result column="log_type" property="logType"/>
        <result column="user_id" property="userId"/>
        <result column="log_message" property="logMessage"/>
        <result column="log_date" property="logDate"/>
    </resultMap>

    <select id="count" parameterType="com.github.mybatisq.Query" resultType="java.lang.Integer">
        select count(0) <include refid="com.github.user.service.mapper.QMapper.countFrom"/>
    </select>

    <select id="select" parameterType="com.github.mybatisq.Query" resultMap="log">
        select ${tableAlias}.log_id,${tableAlias}.log_type,${tableAlias}.user_id,${tableAlias}.log_message,${tableAlias}.log_date <include refid="com.github.user.service.mapper.QMapper.selectFrom"/>
    </select>

    <insert id="insert" parameterType="com.github.user.service.entity.Log" useGeneratedKeys="true">
        <trim prefix="insert log (" suffix=")" suffixOverrides=",">
            <if test="logId != null">log_id,</if>
            <if test="logType != null">log_type,</if>
            <if test="userId != null">user_id,</if>
            <if test="logMessage != null">log_message,</if>
            <if test="logDate != null">log_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logId != null">#{logId},</if>
            <if test="logType != null">#{logType},</if>
            <if test="userId != null">#{userId},</if>
            <if test="logMessage != null">#{logMessage},</if>
            <if test="logDate != null">#{logDate},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.github.user.service.entity.Log">
        <trim prefix="update log set" suffix="where log_id=#{logId}" suffixOverrides=",">
            <if test="logType != null">log_type=#{logType},</if>
            <if test="userId != null">user_id=#{userId},</if>
            <if test="logMessage != null">log_message=#{logMessage},</if>
            <if test="logDate != null">log_date=#{logDate},</if>
        </trim>
    </update>

    <delete id="delete">
        delete from log where log_id=#{logId}
    </delete>
</mapper>